html [data-m] {
	animation-fill-mode: forwards;
	animation-duration: 1.5s;
	animation-delay: 0;
	animation-timing-function: ease-out;
}

@keyframes bounce-up {
	from {
		opacity: 0;
		transform: translateY(2rem);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

html [data-m=bounce-up] {
	animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
	animation-name: bounce-up;
	transform: translateY(2rem);
	opacity: 0;
}

@keyframes bounce-down {
	from {
		opacity: 0;
		transform: translateY(-2rem);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

html [data-m=bounce-down] {
	animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
	animation-name: bounce-down;
	transform: translateY(-2rem);
	opacity: 0;
}

@keyframes bounce-right {
	from {
		opacity: 0;
		transform: translateX(-2rem);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

html [data-m=bounce-right] {
	animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
	animation-name: bounce-right;
	transform: translateX(-2rem);
	opacity: 0;
}

@keyframes bounce-left {
	from {
		opacity: 0;
		transform: translateX(2rem);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

html [data-m=bounce-left] {
	animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
	animation-name: bounce-left;
	transform: translateX(2rem);
	opacity: 0;
}

@keyframes reveal {
	from {
		clip-path: circle(0% at 50% 50%);
	}

	to {
		clip-path: circle(150% at 50% 50%);
	}
}

html [data-m=reveal] {
	animation-name: reveal;
	clip-path: circle(0% at 50% 50%);
}

@keyframes reveal-up {
	from {
		clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
	}

	to {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	}
}

html [data-m=reveal-up] {
	animation-name: reveal-up;
	clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
}

@keyframes reveal-down {
	from {
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	}

	to {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	}
}

html [data-m=reveal-down] {
	animation-name: reveal-down;
	clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

@keyframes reveal-right {
	from {
		clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
	}

	to {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	}
}

html [data-m=reveal-right] {
	animation-name: reveal-right;
	clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

@keyframes reveal-left {
	from {
		clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
	}

	to {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	}
}

html [data-m=reveal-left] {
	animation-name: reveal-left;
	clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}

@keyframes scale {
	from {
		transform: scale(0.5);
		opacity: 0;
	}

	to {
		transform: scale(1);
		opacity: 1;
	}
}

html [data-m=scale] {
	animation-name: scale;
	transform: scale(0.5);
	opacity: 0;
}

@keyframes scale-up {
	from {
		transform: translateY(3rem) scale(0.5);
		opacity: 0;
	}

	to {
		transform: translateY(0) scale(1);
		opacity: 1;
	}
}

html [data-m=scale-up] {
	animation-name: scale-up;
	transform: translateY(3rem) scale(0.5);
	opacity: 0;
}

@keyframes scale-down {
	from {
		transform: translateY(-3rem) scale(0.5);
		opacity: 0;
	}

	to {
		transform: translateY(0) scale(1);
		opacity: 1;
	}
}

html [data-m=scale-down] {
	animation-name: scale-down;
	transform: translateY(-3rem) scale(0.5);
	opacity: 0;
}

@keyframes scale-left {
	from {
		transform: rotate(10deg) translateY(3rem) scale(0.5);
		opacity: 0;
	}

	to {
		transform: rotate(0deg) translateY(0) scale(1);
		opacity: 1;
	}
}

html [data-m=scale-left] {
	animation-name: scale-left;
	transform: rotate(10deg) translateY(3rem) scale(0.5);
	opacity: 0;
}

@keyframes scale-right {
	from {
		transform: rotate(-10deg) translateY(3rem) scale(0.5);
		opacity: 0;
	}

	to {
		transform: rotate(0deg) translateY(0) scale(1);
		opacity: 1;
	}
}

html [data-m=scale-right] {
	animation-name: scale-right;
	transform: rotate(-10deg) translateY(3rem) scale(0.5);
	opacity: 0;
}

@keyframes scale-down-left {
	from {
		transform: rotate(10deg) translateY(-3rem) scale(0.5);
		opacity: 0;
	}

	to {
		transform: rotate(0deg) translateY(0) scale(1);
		opacity: 1;
	}
}

html [data-m=scale-down-left] {
	animation-name: scale-down-left;
	transform: rotate(10deg) translateY(-3rem) scale(0.5);
	opacity: 0;
}

@keyframes scale-down-right {
	from {
		transform: rotate(-10deg) translateY(-3rem) scale(0.5);
		opacity: 0;
	}

	to {
		transform: rotate(0deg) translateY(0) scale(1);
		opacity: 1;
	}
}

html [data-m=scale-down-right] {
	animation-name: scale-down-right;
	transform: rotate(-10deg) translateY(-3rem) scale(0.5);
	opacity: 0;
}

@keyframes flip {
	from {
		transform: perspective(2500px) rotateX(100deg);
	}

	to {
		transform: perspective(2500px) rotateX(0deg);
	}
}

html [data-m=flip] {
	animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
	animation-name: flip;
	transform: perspective(2500px) rotateX(90deg);
}

@keyframes flip-right {
	from {
		transform: perspective(2500px) rotateY(-90deg);
	}

	to {
		transform: perspective(2500px) rotateY(0deg);
	}
}

html [data-m=flip-right] {
	animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
	animation-name: flip-right;
	transform: perspective(2500px) rotateX(-90deg);
}

@keyframes flip-left {
	from {
		transform: perspective(2500px) rotateY(90deg);
	}

	to {
		transform: perspective(2500px) rotateY(0deg);
	}
}

html [data-m=flip-left] {
	animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
	animation-name: flip-left;
	transform: perspective(2500px) rotateX(90deg);
}

@keyframes drop {
	0% {
		clip-path: polygon(calc(50% - 1px) 0, calc(50% + 1px) 0, calc(50% + 1px) 0, calc(50% - 1px) 0);
	}

	30% {
		clip-path: polygon(calc(50% - 1px) 0, calc(50% + 1px) 0, calc(50% + 1px) 100%, calc(50% - 1px) 100%);
	}

	100% {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	}
}

html [data-m=drop] {
	animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
	animation-name: drop;
	clip-path: polygon(calc(50% - 1px) 0, calc(50% + 1px) 0, calc(50% + 1px) 0, calc(50% - 1px) 0);
}

@keyframes glitch {
	0% {
		font-weight: 300;
		clip-path: polygon(70% 0, 100% 0, 100% 100%, 70% 100%);
		transform: translate(5%, -5%);
	}

	10% {
		filter: invert(20%) blur(3px);
		opacity: 0;
		transform: translate(-5%, -5%);
	}

	20% {
		font-weight: 700;
		clip-path: polygon(0 0, 28% 0, 28% 80%, 0 100%);
	}

	30% {
		filter: invert(60%) blur(6px);
		opacity: 0.3;
		transform: translate(-5%, 5%);
	}

	40% {
		font-weight: 500;
		clip-path: polygon(0 63%, 100% 80%, 30% 100%, 0 100%);
		transform: translate(-5%, -5%);
	}

	50% {
		filter: invert(5%) blur(3px);
		opacity: 0.1;
		transform: translate(5%, 5%);
	}

	60% {
		font-weight: 400;
		clip-path: polygon(70% 20%, 100% 52%, 100% 100%, 70% 100%);
		transform: translate(5%, -5%);
	}

	70% {
		filter: invert(70%) blur(0);
		opacity: 0.8;
		transform: translate(5%, 5%);
	}

	80% {
		font-weight: 600;
		clip-path: polygon(0 0, 50% 0, 70% 100%, 0% 90%);
	}

	90% {
		filter: invert(100%) blur(1px);
		opacity: 0.5;
		transform: translate(5%, -5%);
	}

	100% {
		font-weight: inherit;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
		filter: invert(0%) blur(0);
		opacity: 1;
		transform: translate(0, 0);
		transform: translate(0, 0);
	}
}

html [data-m=glitch] {
	animation-name: glitch;
	opacity: 0;
}

@keyframes blur {
	from {
		filter: blur(1rem);
	}

	to {
		filter: blur(0);
	}
}

html [data-m=blur] {
	animation-name: blur;
	filter: blur(1rem);
}

body[data-m-duration="0.1"] [data-m],
[data-m][data-m][data-m-duration="0.1"] {
	animation-duration: 0.1s;
}

body[data-m-delay="0.1"] [data-m],
[data-m][data-m][data-m-delay="0.1"] {
	animation-delay: 0.1s;
}

body[data-m-duration="0.2"] [data-m],
[data-m][data-m][data-m-duration="0.2"] {
	animation-duration: 0.2s;
}

body[data-m-delay="0.2"] [data-m],
[data-m][data-m][data-m-delay="0.2"] {
	animation-delay: 0.2s;
}

body[data-m-duration="0.3"] [data-m],
[data-m][data-m][data-m-duration="0.3"] {
	animation-duration: 0.3s;
}

body[data-m-delay="0.3"] [data-m],
[data-m][data-m][data-m-delay="0.3"] {
	animation-delay: 0.3s;
}

body[data-m-duration="0.4"] [data-m],
[data-m][data-m][data-m-duration="0.4"] {
	animation-duration: 0.4s;
}

body[data-m-delay="0.4"] [data-m],
[data-m][data-m][data-m-delay="0.4"] {
	animation-delay: 0.4s;
}

body[data-m-duration="0.5"] [data-m],
[data-m][data-m][data-m-duration="0.5"] {
	animation-duration: 0.5s;
}

body[data-m-delay="0.5"] [data-m],
[data-m][data-m][data-m-delay="0.5"] {
	animation-delay: 0.5s;
}

body[data-m-duration="0.6"] [data-m],
[data-m][data-m][data-m-duration="0.6"] {
	animation-duration: 0.6s;
}

body[data-m-delay="0.6"] [data-m],
[data-m][data-m][data-m-delay="0.6"] {
	animation-delay: 0.6s;
}

body[data-m-duration="0.7"] [data-m],
[data-m][data-m][data-m-duration="0.7"] {
	animation-duration: 0.7s;
}

body[data-m-delay="0.7"] [data-m],
[data-m][data-m][data-m-delay="0.7"] {
	animation-delay: 0.7s;
}

body[data-m-duration="0.8"] [data-m],
[data-m][data-m][data-m-duration="0.8"] {
	animation-duration: 0.8s;
}

body[data-m-delay="0.8"] [data-m],
[data-m][data-m][data-m-delay="0.8"] {
	animation-delay: 0.8s;
}

body[data-m-duration="0.9"] [data-m],
[data-m][data-m][data-m-duration="0.9"] {
	animation-duration: 0.9s;
}

body[data-m-delay="0.9"] [data-m],
[data-m][data-m][data-m-delay="0.9"] {
	animation-delay: 0.9s;
}

body[data-m-duration="1"] [data-m],
[data-m][data-m][data-m-duration="1"] {
	animation-duration: 1s;
}

body[data-m-delay="1"] [data-m],
[data-m][data-m][data-m-delay="1"] {
	animation-delay: 1s;
}

body[data-m-duration="1.1"] [data-m],
[data-m][data-m][data-m-duration="1.1"] {
	animation-duration: 1.1s;
}

body[data-m-delay="1.1"] [data-m],
[data-m][data-m][data-m-delay="1.1"] {
	animation-delay: 1.1s;
}

body[data-m-duration="1.2"] [data-m],
[data-m][data-m][data-m-duration="1.2"] {
	animation-duration: 1.2s;
}

body[data-m-delay="1.2"] [data-m],
[data-m][data-m][data-m-delay="1.2"] {
	animation-delay: 1.2s;
}

body[data-m-duration="1.3"] [data-m],
[data-m][data-m][data-m-duration="1.3"] {
	animation-duration: 1.3s;
}

body[data-m-delay="1.3"] [data-m],
[data-m][data-m][data-m-delay="1.3"] {
	animation-delay: 1.3s;
}

body[data-m-duration="1.4"] [data-m],
[data-m][data-m][data-m-duration="1.4"] {
	animation-duration: 1.4s;
}

body[data-m-delay="1.4"] [data-m],
[data-m][data-m][data-m-delay="1.4"] {
	animation-delay: 1.4s;
}

body[data-m-duration="1.5"] [data-m],
[data-m][data-m][data-m-duration="1.5"] {
	animation-duration: 1.5s;
}

body[data-m-delay="1.5"] [data-m],
[data-m][data-m][data-m-delay="1.5"] {
	animation-delay: 1.5s;
}

body[data-m-duration="1.6"] [data-m],
[data-m][data-m][data-m-duration="1.6"] {
	animation-duration: 1.6s;
}

body[data-m-delay="1.6"] [data-m],
[data-m][data-m][data-m-delay="1.6"] {
	animation-delay: 1.6s;
}

body[data-m-duration="1.7"] [data-m],
[data-m][data-m][data-m-duration="1.7"] {
	animation-duration: 1.7s;
}

body[data-m-delay="1.7"] [data-m],
[data-m][data-m][data-m-delay="1.7"] {
	animation-delay: 1.7s;
}

body[data-m-duration="1.8"] [data-m],
[data-m][data-m][data-m-duration="1.8"] {
	animation-duration: 1.8s;
}

body[data-m-delay="1.8"] [data-m],
[data-m][data-m][data-m-delay="1.8"] {
	animation-delay: 1.8s;
}

body[data-m-duration="1.9"] [data-m],
[data-m][data-m][data-m-duration="1.9"] {
	animation-duration: 1.9s;
}

body[data-m-delay="1.9"] [data-m],
[data-m][data-m][data-m-delay="1.9"] {
	animation-delay: 1.9s;
}

body[data-m-duration="2"] [data-m],
[data-m][data-m][data-m-duration="2"] {
	animation-duration: 2s;
}

body[data-m-delay="2"] [data-m],
[data-m][data-m][data-m-delay="2"] {
	animation-delay: 2s;
}

body[data-m-duration="2.1"] [data-m],
[data-m][data-m][data-m-duration="2.1"] {
	animation-duration: 2.1s;
}

body[data-m-delay="2.1"] [data-m],
[data-m][data-m][data-m-delay="2.1"] {
	animation-delay: 2.1s;
}

body[data-m-duration="2.2"] [data-m],
[data-m][data-m][data-m-duration="2.2"] {
	animation-duration: 2.2s;
}

body[data-m-delay="2.2"] [data-m],
[data-m][data-m][data-m-delay="2.2"] {
	animation-delay: 2.2s;
}

body[data-m-duration="2.3"] [data-m],
[data-m][data-m][data-m-duration="2.3"] {
	animation-duration: 2.3s;
}

body[data-m-delay="2.3"] [data-m],
[data-m][data-m][data-m-delay="2.3"] {
	animation-delay: 2.3s;
}

body[data-m-duration="2.4"] [data-m],
[data-m][data-m][data-m-duration="2.4"] {
	animation-duration: 2.4s;
}

body[data-m-delay="2.4"] [data-m],
[data-m][data-m][data-m-delay="2.4"] {
	animation-delay: 2.4s;
}

body[data-m-duration="2.5"] [data-m],
[data-m][data-m][data-m-duration="2.5"] {
	animation-duration: 2.5s;
}

body[data-m-delay="2.5"] [data-m],
[data-m][data-m][data-m-delay="2.5"] {
	animation-delay: 2.5s;
}

body[data-m-duration="2.6"] [data-m],
[data-m][data-m][data-m-duration="2.6"] {
	animation-duration: 2.6s;
}

body[data-m-delay="2.6"] [data-m],
[data-m][data-m][data-m-delay="2.6"] {
	animation-delay: 2.6s;
}

body[data-m-duration="2.7"] [data-m],
[data-m][data-m][data-m-duration="2.7"] {
	animation-duration: 2.7s;
}

body[data-m-delay="2.7"] [data-m],
[data-m][data-m][data-m-delay="2.7"] {
	animation-delay: 2.7s;
}

body[data-m-duration="2.8"] [data-m],
[data-m][data-m][data-m-duration="2.8"] {
	animation-duration: 2.8s;
}

body[data-m-delay="2.8"] [data-m],
[data-m][data-m][data-m-delay="2.8"] {
	animation-delay: 2.8s;
}

body[data-m-duration="2.9"] [data-m],
[data-m][data-m][data-m-duration="2.9"] {
	animation-duration: 2.9s;
}

body[data-m-delay="2.9"] [data-m],
[data-m][data-m][data-m-delay="2.9"] {
	animation-delay: 2.9s;
}

body[data-m-duration="3"] [data-m],
[data-m][data-m][data-m-duration="3"] {
	animation-duration: 3s;
}

body[data-m-delay="3"] [data-m],
[data-m][data-m][data-m-delay="3"] {
	animation-delay: 3s;
}

body[data-m-duration="3.1"] [data-m],
[data-m][data-m][data-m-duration="3.1"] {
	animation-duration: 3.1s;
}

body[data-m-delay="3.1"] [data-m],
[data-m][data-m][data-m-delay="3.1"] {
	animation-delay: 3.1s;
}

body[data-m-duration="3.2"] [data-m],
[data-m][data-m][data-m-duration="3.2"] {
	animation-duration: 3.2s;
}

body[data-m-delay="3.2"] [data-m],
[data-m][data-m][data-m-delay="3.2"] {
	animation-delay: 3.2s;
}

body[data-m-duration="3.3"] [data-m],
[data-m][data-m][data-m-duration="3.3"] {
	animation-duration: 3.3s;
}

body[data-m-delay="3.3"] [data-m],
[data-m][data-m][data-m-delay="3.3"] {
	animation-delay: 3.3s;
}

body[data-m-duration="3.4"] [data-m],
[data-m][data-m][data-m-duration="3.4"] {
	animation-duration: 3.4s;
}

body[data-m-delay="3.4"] [data-m],
[data-m][data-m][data-m-delay="3.4"] {
	animation-delay: 3.4s;
}

body[data-m-duration="3.5"] [data-m],
[data-m][data-m][data-m-duration="3.5"] {
	animation-duration: 3.5s;
}

body[data-m-delay="3.5"] [data-m],
[data-m][data-m][data-m-delay="3.5"] {
	animation-delay: 3.5s;
}

body[data-m-duration="3.6"] [data-m],
[data-m][data-m][data-m-duration="3.6"] {
	animation-duration: 3.6s;
}

body[data-m-delay="3.6"] [data-m],
[data-m][data-m][data-m-delay="3.6"] {
	animation-delay: 3.6s;
}

body[data-m-duration="3.7"] [data-m],
[data-m][data-m][data-m-duration="3.7"] {
	animation-duration: 3.7s;
}

body[data-m-delay="3.7"] [data-m],
[data-m][data-m][data-m-delay="3.7"] {
	animation-delay: 3.7s;
}

body[data-m-duration="3.8"] [data-m],
[data-m][data-m][data-m-duration="3.8"] {
	animation-duration: 3.8s;
}

body[data-m-delay="3.8"] [data-m],
[data-m][data-m][data-m-delay="3.8"] {
	animation-delay: 3.8s;
}

body[data-m-duration="3.9"] [data-m],
[data-m][data-m][data-m-duration="3.9"] {
	animation-duration: 3.9s;
}

body[data-m-delay="3.9"] [data-m],
[data-m][data-m][data-m-delay="3.9"] {
	animation-delay: 3.9s;
}

body[data-m-duration="4"] [data-m],
[data-m][data-m][data-m-duration="4"] {
	animation-duration: 4s;
}

body[data-m-delay="4"] [data-m],
[data-m][data-m][data-m-delay="4"] {
	animation-delay: 4s;
}

body[data-m-duration="4.1"] [data-m],
[data-m][data-m][data-m-duration="4.1"] {
	animation-duration: 4.1s;
}

body[data-m-delay="4.1"] [data-m],
[data-m][data-m][data-m-delay="4.1"] {
	animation-delay: 4.1s;
}

body[data-m-duration="4.2"] [data-m],
[data-m][data-m][data-m-duration="4.2"] {
	animation-duration: 4.2s;
}

body[data-m-delay="4.2"] [data-m],
[data-m][data-m][data-m-delay="4.2"] {
	animation-delay: 4.2s;
}

body[data-m-duration="4.3"] [data-m],
[data-m][data-m][data-m-duration="4.3"] {
	animation-duration: 4.3s;
}

body[data-m-delay="4.3"] [data-m],
[data-m][data-m][data-m-delay="4.3"] {
	animation-delay: 4.3s;
}

body[data-m-duration="4.4"] [data-m],
[data-m][data-m][data-m-duration="4.4"] {
	animation-duration: 4.4s;
}

body[data-m-delay="4.4"] [data-m],
[data-m][data-m][data-m-delay="4.4"] {
	animation-delay: 4.4s;
}

body[data-m-duration="4.5"] [data-m],
[data-m][data-m][data-m-duration="4.5"] {
	animation-duration: 4.5s;
}

body[data-m-delay="4.5"] [data-m],
[data-m][data-m][data-m-delay="4.5"] {
	animation-delay: 4.5s;
}

body[data-m-duration="4.6"] [data-m],
[data-m][data-m][data-m-duration="4.6"] {
	animation-duration: 4.6s;
}

body[data-m-delay="4.6"] [data-m],
[data-m][data-m][data-m-delay="4.6"] {
	animation-delay: 4.6s;
}

body[data-m-duration="4.7"] [data-m],
[data-m][data-m][data-m-duration="4.7"] {
	animation-duration: 4.7s;
}

body[data-m-delay="4.7"] [data-m],
[data-m][data-m][data-m-delay="4.7"] {
	animation-delay: 4.7s;
}

body[data-m-duration="4.8"] [data-m],
[data-m][data-m][data-m-duration="4.8"] {
	animation-duration: 4.8s;
}

body[data-m-delay="4.8"] [data-m],
[data-m][data-m][data-m-delay="4.8"] {
	animation-delay: 4.8s;
}

body[data-m-duration="4.9"] [data-m],
[data-m][data-m][data-m-duration="4.9"] {
	animation-duration: 4.9s;
}

body[data-m-delay="4.9"] [data-m],
[data-m][data-m][data-m-delay="4.9"] {
	animation-delay: 4.9s;
}

body[data-m-duration="5"] [data-m],
[data-m][data-m][data-m-duration="5"] {
	animation-duration: 5s;
}

body[data-m-delay="5"] [data-m],
[data-m][data-m][data-m-delay="5"] {
	animation-delay: 5s;
}

body[data-m-duration="5.1"] [data-m],
[data-m][data-m][data-m-duration="5.1"] {
	animation-duration: 5.1s;
}

body[data-m-delay="5.1"] [data-m],
[data-m][data-m][data-m-delay="5.1"] {
	animation-delay: 5.1s;
}

body[data-m-duration="5.2"] [data-m],
[data-m][data-m][data-m-duration="5.2"] {
	animation-duration: 5.2s;
}

body[data-m-delay="5.2"] [data-m],
[data-m][data-m][data-m-delay="5.2"] {
	animation-delay: 5.2s;
}

body[data-m-duration="5.3"] [data-m],
[data-m][data-m][data-m-duration="5.3"] {
	animation-duration: 5.3s;
}

body[data-m-delay="5.3"] [data-m],
[data-m][data-m][data-m-delay="5.3"] {
	animation-delay: 5.3s;
}

body[data-m-duration="5.4"] [data-m],
[data-m][data-m][data-m-duration="5.4"] {
	animation-duration: 5.4s;
}

body[data-m-delay="5.4"] [data-m],
[data-m][data-m][data-m-delay="5.4"] {
	animation-delay: 5.4s;
}

body[data-m-duration="5.5"] [data-m],
[data-m][data-m][data-m-duration="5.5"] {
	animation-duration: 5.5s;
}

body[data-m-delay="5.5"] [data-m],
[data-m][data-m][data-m-delay="5.5"] {
	animation-delay: 5.5s;
}

body[data-m-duration="5.6"] [data-m],
[data-m][data-m][data-m-duration="5.6"] {
	animation-duration: 5.6s;
}

body[data-m-delay="5.6"] [data-m],
[data-m][data-m][data-m-delay="5.6"] {
	animation-delay: 5.6s;
}

body[data-m-duration="5.7"] [data-m],
[data-m][data-m][data-m-duration="5.7"] {
	animation-duration: 5.7s;
}

body[data-m-delay="5.7"] [data-m],
[data-m][data-m][data-m-delay="5.7"] {
	animation-delay: 5.7s;
}

body[data-m-duration="5.8"] [data-m],
[data-m][data-m][data-m-duration="5.8"] {
	animation-duration: 5.8s;
}

body[data-m-delay="5.8"] [data-m],
[data-m][data-m][data-m-delay="5.8"] {
	animation-delay: 5.8s;
}

body[data-m-duration="5.9"] [data-m],
[data-m][data-m][data-m-duration="5.9"] {
	animation-duration: 5.9s;
}

body[data-m-delay="5.9"] [data-m],
[data-m][data-m][data-m-delay="5.9"] {
	animation-delay: 5.9s;
}

body[data-m-duration="6"] [data-m],
[data-m][data-m][data-m-duration="6"] {
	animation-duration: 6s;
}

body[data-m-delay="6"] [data-m],
[data-m][data-m][data-m-delay="6"] {
	animation-delay: 6s;
}

body[data-m-duration="6.1"] [data-m],
[data-m][data-m][data-m-duration="6.1"] {
	animation-duration: 6.1s;
}

body[data-m-delay="6.1"] [data-m],
[data-m][data-m][data-m-delay="6.1"] {
	animation-delay: 6.1s;
}

body[data-m-duration="6.2"] [data-m],
[data-m][data-m][data-m-duration="6.2"] {
	animation-duration: 6.2s;
}

body[data-m-delay="6.2"] [data-m],
[data-m][data-m][data-m-delay="6.2"] {
	animation-delay: 6.2s;
}

body[data-m-duration="6.3"] [data-m],
[data-m][data-m][data-m-duration="6.3"] {
	animation-duration: 6.3s;
}

body[data-m-delay="6.3"] [data-m],
[data-m][data-m][data-m-delay="6.3"] {
	animation-delay: 6.3s;
}

body[data-m-duration="6.4"] [data-m],
[data-m][data-m][data-m-duration="6.4"] {
	animation-duration: 6.4s;
}

body[data-m-delay="6.4"] [data-m],
[data-m][data-m][data-m-delay="6.4"] {
	animation-delay: 6.4s;
}

body[data-m-duration="6.5"] [data-m],
[data-m][data-m][data-m-duration="6.5"] {
	animation-duration: 6.5s;
}

body[data-m-delay="6.5"] [data-m],
[data-m][data-m][data-m-delay="6.5"] {
	animation-delay: 6.5s;
}

body[data-m-duration="6.6"] [data-m],
[data-m][data-m][data-m-duration="6.6"] {
	animation-duration: 6.6s;
}

body[data-m-delay="6.6"] [data-m],
[data-m][data-m][data-m-delay="6.6"] {
	animation-delay: 6.6s;
}

body[data-m-duration="6.7"] [data-m],
[data-m][data-m][data-m-duration="6.7"] {
	animation-duration: 6.7s;
}

body[data-m-delay="6.7"] [data-m],
[data-m][data-m][data-m-delay="6.7"] {
	animation-delay: 6.7s;
}

body[data-m-duration="6.8"] [data-m],
[data-m][data-m][data-m-duration="6.8"] {
	animation-duration: 6.8s;
}

body[data-m-delay="6.8"] [data-m],
[data-m][data-m][data-m-delay="6.8"] {
	animation-delay: 6.8s;
}

body[data-m-duration="6.9"] [data-m],
[data-m][data-m][data-m-duration="6.9"] {
	animation-duration: 6.9s;
}

body[data-m-delay="6.9"] [data-m],
[data-m][data-m][data-m-delay="6.9"] {
	animation-delay: 6.9s;
}

body[data-m-duration="7"] [data-m],
[data-m][data-m][data-m-duration="7"] {
	animation-duration: 7s;
}

body[data-m-delay="7"] [data-m],
[data-m][data-m][data-m-delay="7"] {
	animation-delay: 7s;
}

body[data-m-duration="7.1"] [data-m],
[data-m][data-m][data-m-duration="7.1"] {
	animation-duration: 7.1s;
}

body[data-m-delay="7.1"] [data-m],
[data-m][data-m][data-m-delay="7.1"] {
	animation-delay: 7.1s;
}

body[data-m-duration="7.2"] [data-m],
[data-m][data-m][data-m-duration="7.2"] {
	animation-duration: 7.2s;
}

body[data-m-delay="7.2"] [data-m],
[data-m][data-m][data-m-delay="7.2"] {
	animation-delay: 7.2s;
}

body[data-m-duration="7.3"] [data-m],
[data-m][data-m][data-m-duration="7.3"] {
	animation-duration: 7.3s;
}

body[data-m-delay="7.3"] [data-m],
[data-m][data-m][data-m-delay="7.3"] {
	animation-delay: 7.3s;
}

body[data-m-duration="7.4"] [data-m],
[data-m][data-m][data-m-duration="7.4"] {
	animation-duration: 7.4s;
}

body[data-m-delay="7.4"] [data-m],
[data-m][data-m][data-m-delay="7.4"] {
	animation-delay: 7.4s;
}

body[data-m-duration="7.5"] [data-m],
[data-m][data-m][data-m-duration="7.5"] {
	animation-duration: 7.5s;
}

body[data-m-delay="7.5"] [data-m],
[data-m][data-m][data-m-delay="7.5"] {
	animation-delay: 7.5s;
}

body[data-m-duration="7.6"] [data-m],
[data-m][data-m][data-m-duration="7.6"] {
	animation-duration: 7.6s;
}

body[data-m-delay="7.6"] [data-m],
[data-m][data-m][data-m-delay="7.6"] {
	animation-delay: 7.6s;
}

body[data-m-duration="7.7"] [data-m],
[data-m][data-m][data-m-duration="7.7"] {
	animation-duration: 7.7s;
}

body[data-m-delay="7.7"] [data-m],
[data-m][data-m][data-m-delay="7.7"] {
	animation-delay: 7.7s;
}

body[data-m-duration="7.8"] [data-m],
[data-m][data-m][data-m-duration="7.8"] {
	animation-duration: 7.8s;
}

body[data-m-delay="7.8"] [data-m],
[data-m][data-m][data-m-delay="7.8"] {
	animation-delay: 7.8s;
}

body[data-m-duration="7.9"] [data-m],
[data-m][data-m][data-m-duration="7.9"] {
	animation-duration: 7.9s;
}

body[data-m-delay="7.9"] [data-m],
[data-m][data-m][data-m-delay="7.9"] {
	animation-delay: 7.9s;
}

body[data-m-duration="8"] [data-m],
[data-m][data-m][data-m-duration="8"] {
	animation-duration: 8s;
}

body[data-m-delay="8"] [data-m],
[data-m][data-m][data-m-delay="8"] {
	animation-delay: 8s;
}

body[data-m-duration="8.1"] [data-m],
[data-m][data-m][data-m-duration="8.1"] {
	animation-duration: 8.1s;
}

body[data-m-delay="8.1"] [data-m],
[data-m][data-m][data-m-delay="8.1"] {
	animation-delay: 8.1s;
}

body[data-m-duration="8.2"] [data-m],
[data-m][data-m][data-m-duration="8.2"] {
	animation-duration: 8.2s;
}

body[data-m-delay="8.2"] [data-m],
[data-m][data-m][data-m-delay="8.2"] {
	animation-delay: 8.2s;
}

body[data-m-duration="8.3"] [data-m],
[data-m][data-m][data-m-duration="8.3"] {
	animation-duration: 8.3s;
}

body[data-m-delay="8.3"] [data-m],
[data-m][data-m][data-m-delay="8.3"] {
	animation-delay: 8.3s;
}

body[data-m-duration="8.4"] [data-m],
[data-m][data-m][data-m-duration="8.4"] {
	animation-duration: 8.4s;
}

body[data-m-delay="8.4"] [data-m],
[data-m][data-m][data-m-delay="8.4"] {
	animation-delay: 8.4s;
}

body[data-m-duration="8.5"] [data-m],
[data-m][data-m][data-m-duration="8.5"] {
	animation-duration: 8.5s;
}

body[data-m-delay="8.5"] [data-m],
[data-m][data-m][data-m-delay="8.5"] {
	animation-delay: 8.5s;
}

body[data-m-duration="8.6"] [data-m],
[data-m][data-m][data-m-duration="8.6"] {
	animation-duration: 8.6s;
}

body[data-m-delay="8.6"] [data-m],
[data-m][data-m][data-m-delay="8.6"] {
	animation-delay: 8.6s;
}

body[data-m-duration="8.7"] [data-m],
[data-m][data-m][data-m-duration="8.7"] {
	animation-duration: 8.7s;
}

body[data-m-delay="8.7"] [data-m],
[data-m][data-m][data-m-delay="8.7"] {
	animation-delay: 8.7s;
}

body[data-m-duration="8.8"] [data-m],
[data-m][data-m][data-m-duration="8.8"] {
	animation-duration: 8.8s;
}

body[data-m-delay="8.8"] [data-m],
[data-m][data-m][data-m-delay="8.8"] {
	animation-delay: 8.8s;
}

body[data-m-duration="8.9"] [data-m],
[data-m][data-m][data-m-duration="8.9"] {
	animation-duration: 8.9s;
}

body[data-m-delay="8.9"] [data-m],
[data-m][data-m][data-m-delay="8.9"] {
	animation-delay: 8.9s;
}

body[data-m-duration="9"] [data-m],
[data-m][data-m][data-m-duration="9"] {
	animation-duration: 9s;
}

body[data-m-delay="9"] [data-m],
[data-m][data-m][data-m-delay="9"] {
	animation-delay: 9s;
}

body[data-m-duration="9.1"] [data-m],
[data-m][data-m][data-m-duration="9.1"] {
	animation-duration: 9.1s;
}

body[data-m-delay="9.1"] [data-m],
[data-m][data-m][data-m-delay="9.1"] {
	animation-delay: 9.1s;
}

body[data-m-duration="9.2"] [data-m],
[data-m][data-m][data-m-duration="9.2"] {
	animation-duration: 9.2s;
}

body[data-m-delay="9.2"] [data-m],
[data-m][data-m][data-m-delay="9.2"] {
	animation-delay: 9.2s;
}

body[data-m-duration="9.3"] [data-m],
[data-m][data-m][data-m-duration="9.3"] {
	animation-duration: 9.3s;
}

body[data-m-delay="9.3"] [data-m],
[data-m][data-m][data-m-delay="9.3"] {
	animation-delay: 9.3s;
}

body[data-m-duration="9.4"] [data-m],
[data-m][data-m][data-m-duration="9.4"] {
	animation-duration: 9.4s;
}

body[data-m-delay="9.4"] [data-m],
[data-m][data-m][data-m-delay="9.4"] {
	animation-delay: 9.4s;
}

body[data-m-duration="9.5"] [data-m],
[data-m][data-m][data-m-duration="9.5"] {
	animation-duration: 9.5s;
}

body[data-m-delay="9.5"] [data-m],
[data-m][data-m][data-m-delay="9.5"] {
	animation-delay: 9.5s;
}

body[data-m-duration="9.6"] [data-m],
[data-m][data-m][data-m-duration="9.6"] {
	animation-duration: 9.6s;
}

body[data-m-delay="9.6"] [data-m],
[data-m][data-m][data-m-delay="9.6"] {
	animation-delay: 9.6s;
}

body[data-m-duration="9.7"] [data-m],
[data-m][data-m][data-m-duration="9.7"] {
	animation-duration: 9.7s;
}

body[data-m-delay="9.7"] [data-m],
[data-m][data-m][data-m-delay="9.7"] {
	animation-delay: 9.7s;
}

body[data-m-duration="9.8"] [data-m],
[data-m][data-m][data-m-duration="9.8"] {
	animation-duration: 9.8s;
}

body[data-m-delay="9.8"] [data-m],
[data-m][data-m][data-m-delay="9.8"] {
	animation-delay: 9.8s;
}

body[data-m-duration="9.9"] [data-m],
[data-m][data-m][data-m-duration="9.9"] {
	animation-duration: 9.9s;
}

body[data-m-delay="9.9"] [data-m],
[data-m][data-m][data-m-delay="9.9"] {
	animation-delay: 9.9s;
}

body[data-m-duration="10"] [data-m],
[data-m][data-m][data-m-duration="10"] {
	animation-duration: 10s;
}

body[data-m-delay="10"] [data-m],
[data-m][data-m][data-m-delay="10"] {
	animation-delay: 10s;
}

body[data-m-duration="0.75"] [data-m],
[data-m][data-m][data-m-duration="0.35"] {
	animation-duration: 0.35s;
}

body[data-m-delay="0.35"] [data-m],
[data-m][data-m][data-m-delay="0.35"] {
	animation-delay: 0.35s;
}

body[data-m-duration="1.25"] [data-m],
[data-m][data-m][data-m-duration="0.45"] {
	animation-duration: 0.45s;
}

body[data-m-delay="0.45"] [data-m],
[data-m][data-m][data-m-delay="0.45"] {
	animation-delay: 0.45s;
}

body[data-m-duration="1.75"] [data-m],
[data-m][data-m][data-m-duration="0.55"] {
	animation-duration: 0.55s;
}

body[data-m-delay="0.55"] [data-m],
[data-m][data-m][data-m-delay="0.55"] {
	animation-delay: 0.55s;
}

body[data-m-duration="2.25"] [data-m],
[data-m][data-m][data-m-duration="0.65"] {
	animation-duration: 0.65s;
}

body[data-m-delay="0.65"] [data-m],
[data-m][data-m][data-m-delay="0.65"] {
	animation-delay: 0.65s;
}

body[data-m-duration="2.75"] [data-m],
[data-m][data-m][data-m-duration="0.75"] {
	animation-duration: 0.75s;
}

body[data-m-delay="0.75"] [data-m],
[data-m][data-m][data-m-delay="0.75"] {
	animation-delay: 0.75s;
}

body[data-m-duration="3.25"] [data-m],
[data-m][data-m][data-m-duration="0.85"] {
	animation-duration: 0.85s;
}

body[data-m-delay="0.85"] [data-m],
[data-m][data-m][data-m-delay="0.85"] {
	animation-delay: 0.85s;
}

body[data-m-duration="3.75"] [data-m],
[data-m][data-m][data-m-duration="0.95"] {
	animation-duration: 0.95s;
}

body[data-m-delay="0.95"] [data-m],
[data-m][data-m][data-m-delay="0.95"] {
	animation-delay: 0.95s;
}

body[data-m-duration="4.25"] [data-m],
[data-m][data-m][data-m-duration="1.05"] {
	animation-duration: 1.05s;
}

body[data-m-delay="1.05"] [data-m],
[data-m][data-m][data-m-delay="1.05"] {
	animation-delay: 1.05s;
}

body[data-m-duration="4.75"] [data-m],
[data-m][data-m][data-m-duration="1.15"] {
	animation-duration: 1.15s;
}

body[data-m-delay="1.15"] [data-m],
[data-m][data-m][data-m-delay="1.15"] {
	animation-delay: 1.15s;
}

body[data-m-duration="5.25"] [data-m],
[data-m][data-m][data-m-duration="1.25"] {
	animation-duration: 1.25s;
}

body[data-m-delay="1.25"] [data-m],
[data-m][data-m][data-m-delay="1.25"] {
	animation-delay: 1.25s;
}

body[data-m-duration="5.75"] [data-m],
[data-m][data-m][data-m-duration="1.35"] {
	animation-duration: 1.35s;
}

body[data-m-delay="1.35"] [data-m],
[data-m][data-m][data-m-delay="1.35"] {
	animation-delay: 1.35s;
}

body[data-m-duration="6.25"] [data-m],
[data-m][data-m][data-m-duration="1.45"] {
	animation-duration: 1.45s;
}

body[data-m-delay="1.45"] [data-m],
[data-m][data-m][data-m-delay="1.45"] {
	animation-delay: 1.45s;
}

body[data-m-duration="6.75"] [data-m],
[data-m][data-m][data-m-duration="1.55"] {
	animation-duration: 1.55s;
}

body[data-m-delay="1.55"] [data-m],
[data-m][data-m][data-m-delay="1.55"] {
	animation-delay: 1.55s;
}

body[data-m-duration="7.25"] [data-m],
[data-m][data-m][data-m-duration="1.65"] {
	animation-duration: 1.65s;
}

body[data-m-delay="1.65"] [data-m],
[data-m][data-m][data-m-delay="1.65"] {
	animation-delay: 1.65s;
}

body[data-m-duration="7.75"] [data-m],
[data-m][data-m][data-m-duration="1.75"] {
	animation-duration: 1.75s;
}

body[data-m-delay="1.75"] [data-m],
[data-m][data-m][data-m-delay="1.75"] {
	animation-delay: 1.75s;
}

body[data-m-duration="8.25"] [data-m],
[data-m][data-m][data-m-duration="1.85"] {
	animation-duration: 1.85s;
}

body[data-m-delay="1.85"] [data-m],
[data-m][data-m][data-m-delay="1.85"] {
	animation-delay: 1.85s;
}

body[data-m-duration="8.75"] [data-m],
[data-m][data-m][data-m-duration="1.95"] {
	animation-duration: 1.95s;
}

body[data-m-delay="1.95"] [data-m],
[data-m][data-m][data-m-delay="1.95"] {
	animation-delay: 1.95s;
}

body[data-m-duration="9.25"] [data-m],
[data-m][data-m][data-m-duration="2.05"] {
	animation-duration: 2.05s;
}

body[data-m-delay="2.05"] [data-m],
[data-m][data-m][data-m-delay="2.05"] {
	animation-delay: 2.05s;
}

body[data-m-duration="9.75"] [data-m],
[data-m][data-m][data-m-duration="2.15"] {
	animation-duration: 2.15s;
}

body[data-m-delay="2.15"] [data-m],
[data-m][data-m][data-m-delay="2.15"] {
	animation-delay: 2.15s;
}

body[data-m-duration="10.25"] [data-m],
[data-m][data-m][data-m-duration="2.25"] {
	animation-duration: 2.25s;
}

body[data-m-delay="2.25"] [data-m],
[data-m][data-m][data-m-delay="2.25"] {
	animation-delay: 2.25s;
}

body[data-m-duration="10.75"] [data-m],
[data-m][data-m][data-m-duration="2.35"] {
	animation-duration: 2.35s;
}

body[data-m-delay="2.35"] [data-m],
[data-m][data-m][data-m-delay="2.35"] {
	animation-delay: 2.35s;
}

body[data-m-duration="11.25"] [data-m],
[data-m][data-m][data-m-duration="2.45"] {
	animation-duration: 2.45s;
}

body[data-m-delay="2.45"] [data-m],
[data-m][data-m][data-m-delay="2.45"] {
	animation-delay: 2.45s;
}

body[data-m-duration="11.75"] [data-m],
[data-m][data-m][data-m-duration="2.55"] {
	animation-duration: 2.55s;
}

body[data-m-delay="2.55"] [data-m],
[data-m][data-m][data-m-delay="2.55"] {
	animation-delay: 2.55s;
}

body[data-m-duration="12.25"] [data-m],
[data-m][data-m][data-m-duration="2.65"] {
	animation-duration: 2.65s;
}

body[data-m-delay="2.65"] [data-m],
[data-m][data-m][data-m-delay="2.65"] {
	animation-delay: 2.65s;
}

body[data-m-duration="12.75"] [data-m],
[data-m][data-m][data-m-duration="2.75"] {
	animation-duration: 2.75s;
}

body[data-m-delay="2.75"] [data-m],
[data-m][data-m][data-m-delay="2.75"] {
	animation-delay: 2.75s;
}

body[data-m-duration="13.25"] [data-m],
[data-m][data-m][data-m-duration="2.85"] {
	animation-duration: 2.85s;
}

body[data-m-delay="2.85"] [data-m],
[data-m][data-m][data-m-delay="2.85"] {
	animation-delay: 2.85s;
}

body[data-m-duration="13.75"] [data-m],
[data-m][data-m][data-m-duration="2.95"] {
	animation-duration: 2.95s;
}

body[data-m-delay="2.95"] [data-m],
[data-m][data-m][data-m-delay="2.95"] {
	animation-delay: 2.95s;
}

body[data-m-duration="14.25"] [data-m],
[data-m][data-m][data-m-duration="3.05"] {
	animation-duration: 3.05s;
}

body[data-m-delay="3.05"] [data-m],
[data-m][data-m][data-m-delay="3.05"] {
	animation-delay: 3.05s;
}

body[data-m-duration="14.75"] [data-m],
[data-m][data-m][data-m-duration="3.15"] {
	animation-duration: 3.15s;
}

body[data-m-delay="3.15"] [data-m],
[data-m][data-m][data-m-delay="3.15"] {
	animation-delay: 3.15s;
}

body[data-m-duration="15.25"] [data-m],
[data-m][data-m][data-m-duration="3.25"] {
	animation-duration: 3.25s;
}

body[data-m-delay="3.25"] [data-m],
[data-m][data-m][data-m-delay="3.25"] {
	animation-delay: 3.25s;
}

body[data-m-duration="15.75"] [data-m],
[data-m][data-m][data-m-duration="3.35"] {
	animation-duration: 3.35s;
}

body[data-m-delay="3.35"] [data-m],
[data-m][data-m][data-m-delay="3.35"] {
	animation-delay: 3.35s;
}

body[data-m-duration="16.25"] [data-m],
[data-m][data-m][data-m-duration="3.45"] {
	animation-duration: 3.45s;
}

body[data-m-delay="3.45"] [data-m],
[data-m][data-m][data-m-delay="3.45"] {
	animation-delay: 3.45s;
}

body[data-m-duration="16.75"] [data-m],
[data-m][data-m][data-m-duration="3.55"] {
	animation-duration: 3.55s;
}

body[data-m-delay="3.55"] [data-m],
[data-m][data-m][data-m-delay="3.55"] {
	animation-delay: 3.55s;
}

body[data-m-duration="17.25"] [data-m],
[data-m][data-m][data-m-duration="3.65"] {
	animation-duration: 3.65s;
}

body[data-m-delay="3.65"] [data-m],
[data-m][data-m][data-m-delay="3.65"] {
	animation-delay: 3.65s;
}

body[data-m-duration="17.75"] [data-m],
[data-m][data-m][data-m-duration="3.75"] {
	animation-duration: 3.75s;
}

body[data-m-delay="3.75"] [data-m],
[data-m][data-m][data-m-delay="3.75"] {
	animation-delay: 3.75s;
}

body[data-m-duration="18.25"] [data-m],
[data-m][data-m][data-m-duration="3.85"] {
	animation-duration: 3.85s;
}

body[data-m-delay="3.85"] [data-m],
[data-m][data-m][data-m-delay="3.85"] {
	animation-delay: 3.85s;
}

body[data-m-duration="18.75"] [data-m],
[data-m][data-m][data-m-duration="3.95"] {
	animation-duration: 3.95s;
}

body[data-m-delay="3.95"] [data-m],
[data-m][data-m][data-m-delay="3.95"] {
	animation-delay: 3.95s;
}

body[data-m-duration="19.25"] [data-m],
[data-m][data-m][data-m-duration="4.05"] {
	animation-duration: 4.05s;
}

body[data-m-delay="4.05"] [data-m],
[data-m][data-m][data-m-delay="4.05"] {
	animation-delay: 4.05s;
}

body[data-m-duration="19.75"] [data-m],
[data-m][data-m][data-m-duration="4.15"] {
	animation-duration: 4.15s;
}

body[data-m-delay="4.15"] [data-m],
[data-m][data-m][data-m-delay="4.15"] {
	animation-delay: 4.15s;
}

body[data-m-duration="20.25"] [data-m],
[data-m][data-m][data-m-duration="4.25"] {
	animation-duration: 4.25s;
}

body[data-m-delay="4.25"] [data-m],
[data-m][data-m][data-m-delay="4.25"] {
	animation-delay: 4.25s;
}

body[data-m-duration="20.75"] [data-m],
[data-m][data-m][data-m-duration="4.35"] {
	animation-duration: 4.35s;
}

body[data-m-delay="4.35"] [data-m],
[data-m][data-m][data-m-delay="4.35"] {
	animation-delay: 4.35s;
}

body[data-m-duration="21.25"] [data-m],
[data-m][data-m][data-m-duration="4.45"] {
	animation-duration: 4.45s;
}

body[data-m-delay="4.45"] [data-m],
[data-m][data-m][data-m-delay="4.45"] {
	animation-delay: 4.45s;
}

body[data-m-duration="21.75"] [data-m],
[data-m][data-m][data-m-duration="4.55"] {
	animation-duration: 4.55s;
}

body[data-m-delay="4.55"] [data-m],
[data-m][data-m][data-m-delay="4.55"] {
	animation-delay: 4.55s;
}

body[data-m-duration="22.25"] [data-m],
[data-m][data-m][data-m-duration="4.65"] {
	animation-duration: 4.65s;
}

body[data-m-delay="4.65"] [data-m],
[data-m][data-m][data-m-delay="4.65"] {
	animation-delay: 4.65s;
}

body[data-m-duration="22.75"] [data-m],
[data-m][data-m][data-m-duration="4.75"] {
	animation-duration: 4.75s;
}

body[data-m-delay="4.75"] [data-m],
[data-m][data-m][data-m-delay="4.75"] {
	animation-delay: 4.75s;
}

body[data-m-duration="23.25"] [data-m],
[data-m][data-m][data-m-duration="4.85"] {
	animation-duration: 4.85s;
}

body[data-m-delay="4.85"] [data-m],
[data-m][data-m][data-m-delay="4.85"] {
	animation-delay: 4.85s;
}

body[data-m-duration="23.75"] [data-m],
[data-m][data-m][data-m-duration="4.95"] {
	animation-duration: 4.95s;
}

body[data-m-delay="4.95"] [data-m],
[data-m][data-m][data-m-delay="4.95"] {
	animation-delay: 4.95s;
}

body[data-m-duration="24.25"] [data-m],
[data-m][data-m][data-m-duration="5.05"] {
	animation-duration: 5.05s;
}

body[data-m-delay="5.05"] [data-m],
[data-m][data-m][data-m-delay="5.05"] {
	animation-delay: 5.05s;
}

body[data-m-duration="24.75"] [data-m],
[data-m][data-m][data-m-duration="5.15"] {
	animation-duration: 5.15s;
}

body[data-m-delay="5.15"] [data-m],
[data-m][data-m][data-m-delay="5.15"] {
	animation-delay: 5.15s;
}

body[data-m-duration="25.25"] [data-m],
[data-m][data-m][data-m-duration="5.25"] {
	animation-duration: 5.25s;
}

body[data-m-delay="5.25"] [data-m],
[data-m][data-m][data-m-delay="5.25"] {
	animation-delay: 5.25s;
}

body[data-m-duration="25.75"] [data-m],
[data-m][data-m][data-m-duration="5.35"] {
	animation-duration: 5.35s;
}

body[data-m-delay="5.35"] [data-m],
[data-m][data-m][data-m-delay="5.35"] {
	animation-delay: 5.35s;
}

body[data-m-duration="26.25"] [data-m],
[data-m][data-m][data-m-duration="5.45"] {
	animation-duration: 5.45s;
}

body[data-m-delay="5.45"] [data-m],
[data-m][data-m][data-m-delay="5.45"] {
	animation-delay: 5.45s;
}

body[data-m-duration="26.75"] [data-m],
[data-m][data-m][data-m-duration="5.55"] {
	animation-duration: 5.55s;
}

body[data-m-delay="5.55"] [data-m],
[data-m][data-m][data-m-delay="5.55"] {
	animation-delay: 5.55s;
}

body[data-m-duration="27.25"] [data-m],
[data-m][data-m][data-m-duration="5.65"] {
	animation-duration: 5.65s;
}

body[data-m-delay="5.65"] [data-m],
[data-m][data-m][data-m-delay="5.65"] {
	animation-delay: 5.65s;
}

body[data-m-duration="27.75"] [data-m],
[data-m][data-m][data-m-duration="5.75"] {
	animation-duration: 5.75s;
}

body[data-m-delay="5.75"] [data-m],
[data-m][data-m][data-m-delay="5.75"] {
	animation-delay: 5.75s;
}

body[data-m-duration="28.25"] [data-m],
[data-m][data-m][data-m-duration="5.85"] {
	animation-duration: 5.85s;
}

body[data-m-delay="5.85"] [data-m],
[data-m][data-m][data-m-delay="5.85"] {
	animation-delay: 5.85s;
}

body[data-m-duration="28.75"] [data-m],
[data-m][data-m][data-m-duration="5.95"] {
	animation-duration: 5.95s;
}

body[data-m-delay="5.95"] [data-m],
[data-m][data-m][data-m-delay="5.95"] {
	animation-delay: 5.95s;
}

body[data-m-duration="29.25"] [data-m],
[data-m][data-m][data-m-duration="6.05"] {
	animation-duration: 6.05s;
}

body[data-m-delay="6.05"] [data-m],
[data-m][data-m][data-m-delay="6.05"] {
	animation-delay: 6.05s;
}

body[data-m-duration="29.75"] [data-m],
[data-m][data-m][data-m-duration="6.15"] {
	animation-duration: 6.15s;
}

body[data-m-delay="6.15"] [data-m],
[data-m][data-m][data-m-delay="6.15"] {
	animation-delay: 6.15s;
}

body[data-m-duration="30.25"] [data-m],
[data-m][data-m][data-m-duration="6.25"] {
	animation-duration: 6.25s;
}

body[data-m-delay="6.25"] [data-m],
[data-m][data-m][data-m-delay="6.25"] {
	animation-delay: 6.25s;
}

body[data-m-duration="30.75"] [data-m],
[data-m][data-m][data-m-duration="6.35"] {
	animation-duration: 6.35s;
}

body[data-m-delay="6.35"] [data-m],
[data-m][data-m][data-m-delay="6.35"] {
	animation-delay: 6.35s;
}

body[data-m-duration="31.25"] [data-m],
[data-m][data-m][data-m-duration="6.45"] {
	animation-duration: 6.45s;
}

body[data-m-delay="6.45"] [data-m],
[data-m][data-m][data-m-delay="6.45"] {
	animation-delay: 6.45s;
}

body[data-m-duration="31.75"] [data-m],
[data-m][data-m][data-m-duration="6.55"] {
	animation-duration: 6.55s;
}

body[data-m-delay="6.55"] [data-m],
[data-m][data-m][data-m-delay="6.55"] {
	animation-delay: 6.55s;
}

body[data-m-duration="32.25"] [data-m],
[data-m][data-m][data-m-duration="6.65"] {
	animation-duration: 6.65s;
}

body[data-m-delay="6.65"] [data-m],
[data-m][data-m][data-m-delay="6.65"] {
	animation-delay: 6.65s;
}

body[data-m-duration="32.75"] [data-m],
[data-m][data-m][data-m-duration="6.75"] {
	animation-duration: 6.75s;
}

body[data-m-delay="6.75"] [data-m],
[data-m][data-m][data-m-delay="6.75"] {
	animation-delay: 6.75s;
}

body[data-m-duration="33.25"] [data-m],
[data-m][data-m][data-m-duration="6.85"] {
	animation-duration: 6.85s;
}

body[data-m-delay="6.85"] [data-m],
[data-m][data-m][data-m-delay="6.85"] {
	animation-delay: 6.85s;
}

body[data-m-duration="33.75"] [data-m],
[data-m][data-m][data-m-duration="6.95"] {
	animation-duration: 6.95s;
}

body[data-m-delay="6.95"] [data-m],
[data-m][data-m][data-m-delay="6.95"] {
	animation-delay: 6.95s;
}

body[data-m-duration="34.25"] [data-m],
[data-m][data-m][data-m-duration="7.05"] {
	animation-duration: 7.05s;
}

body[data-m-delay="7.05"] [data-m],
[data-m][data-m][data-m-delay="7.05"] {
	animation-delay: 7.05s;
}

body[data-m-duration="34.75"] [data-m],
[data-m][data-m][data-m-duration="7.15"] {
	animation-duration: 7.15s;
}

body[data-m-delay="7.15"] [data-m],
[data-m][data-m][data-m-delay="7.15"] {
	animation-delay: 7.15s;
}

body[data-m-duration="35.25"] [data-m],
[data-m][data-m][data-m-duration="7.25"] {
	animation-duration: 7.25s;
}

body[data-m-delay="7.25"] [data-m],
[data-m][data-m][data-m-delay="7.25"] {
	animation-delay: 7.25s;
}

body[data-m-duration="35.75"] [data-m],
[data-m][data-m][data-m-duration="7.35"] {
	animation-duration: 7.35s;
}

body[data-m-delay="7.35"] [data-m],
[data-m][data-m][data-m-delay="7.35"] {
	animation-delay: 7.35s;
}

body[data-m-duration="36.25"] [data-m],
[data-m][data-m][data-m-duration="7.45"] {
	animation-duration: 7.45s;
}

body[data-m-delay="7.45"] [data-m],
[data-m][data-m][data-m-delay="7.45"] {
	animation-delay: 7.45s;
}

body[data-m-duration="36.75"] [data-m],
[data-m][data-m][data-m-duration="7.55"] {
	animation-duration: 7.55s;
}

body[data-m-delay="7.55"] [data-m],
[data-m][data-m][data-m-delay="7.55"] {
	animation-delay: 7.55s;
}

body[data-m-duration="37.25"] [data-m],
[data-m][data-m][data-m-duration="7.65"] {
	animation-duration: 7.65s;
}

body[data-m-delay="7.65"] [data-m],
[data-m][data-m][data-m-delay="7.65"] {
	animation-delay: 7.65s;
}

body[data-m-duration="37.75"] [data-m],
[data-m][data-m][data-m-duration="7.75"] {
	animation-duration: 7.75s;
}

body[data-m-delay="7.75"] [data-m],
[data-m][data-m][data-m-delay="7.75"] {
	animation-delay: 7.75s;
}

body[data-m-duration="38.25"] [data-m],
[data-m][data-m][data-m-duration="7.85"] {
	animation-duration: 7.85s;
}

body[data-m-delay="7.85"] [data-m],
[data-m][data-m][data-m-delay="7.85"] {
	animation-delay: 7.85s;
}

body[data-m-duration="38.75"] [data-m],
[data-m][data-m][data-m-duration="7.95"] {
	animation-duration: 7.95s;
}

body[data-m-delay="7.95"] [data-m],
[data-m][data-m][data-m-delay="7.95"] {
	animation-delay: 7.95s;
}

body[data-m-duration="39.25"] [data-m],
[data-m][data-m][data-m-duration="8.05"] {
	animation-duration: 8.05s;
}

body[data-m-delay="8.05"] [data-m],
[data-m][data-m][data-m-delay="8.05"] {
	animation-delay: 8.05s;
}

body[data-m-duration="39.75"] [data-m],
[data-m][data-m][data-m-duration="8.15"] {
	animation-duration: 8.15s;
}

body[data-m-delay="8.15"] [data-m],
[data-m][data-m][data-m-delay="8.15"] {
	animation-delay: 8.15s;
}

body[data-m-duration="40.25"] [data-m],
[data-m][data-m][data-m-duration="8.25"] {
	animation-duration: 8.25s;
}

body[data-m-delay="8.25"] [data-m],
[data-m][data-m][data-m-delay="8.25"] {
	animation-delay: 8.25s;
}

body[data-m-duration="40.75"] [data-m],
[data-m][data-m][data-m-duration="8.35"] {
	animation-duration: 8.35s;
}

body[data-m-delay="8.35"] [data-m],
[data-m][data-m][data-m-delay="8.35"] {
	animation-delay: 8.35s;
}

body[data-m-duration="41.25"] [data-m],
[data-m][data-m][data-m-duration="8.45"] {
	animation-duration: 8.45s;
}

body[data-m-delay="8.45"] [data-m],
[data-m][data-m][data-m-delay="8.45"] {
	animation-delay: 8.45s;
}

body[data-m-duration="41.75"] [data-m],
[data-m][data-m][data-m-duration="8.55"] {
	animation-duration: 8.55s;
}

body[data-m-delay="8.55"] [data-m],
[data-m][data-m][data-m-delay="8.55"] {
	animation-delay: 8.55s;
}

body[data-m-duration="42.25"] [data-m],
[data-m][data-m][data-m-duration="8.65"] {
	animation-duration: 8.65s;
}

body[data-m-delay="8.65"] [data-m],
[data-m][data-m][data-m-delay="8.65"] {
	animation-delay: 8.65s;
}

body[data-m-duration="42.75"] [data-m],
[data-m][data-m][data-m-duration="8.75"] {
	animation-duration: 8.75s;
}

body[data-m-delay="8.75"] [data-m],
[data-m][data-m][data-m-delay="8.75"] {
	animation-delay: 8.75s;
}

body[data-m-duration="43.25"] [data-m],
[data-m][data-m][data-m-duration="8.85"] {
	animation-duration: 8.85s;
}

body[data-m-delay="8.85"] [data-m],
[data-m][data-m][data-m-delay="8.85"] {
	animation-delay: 8.85s;
}

body[data-m-duration="43.75"] [data-m],
[data-m][data-m][data-m-duration="8.95"] {
	animation-duration: 8.95s;
}

body[data-m-delay="8.95"] [data-m],
[data-m][data-m][data-m-delay="8.95"] {
	animation-delay: 8.95s;
}

body[data-m-duration="44.25"] [data-m],
[data-m][data-m][data-m-duration="9.05"] {
	animation-duration: 9.05s;
}

body[data-m-delay="9.05"] [data-m],
[data-m][data-m][data-m-delay="9.05"] {
	animation-delay: 9.05s;
}

body[data-m-duration="44.75"] [data-m],
[data-m][data-m][data-m-duration="9.15"] {
	animation-duration: 9.15s;
}

body[data-m-delay="9.15"] [data-m],
[data-m][data-m][data-m-delay="9.15"] {
	animation-delay: 9.15s;
}

body[data-m-duration="45.25"] [data-m],
[data-m][data-m][data-m-duration="9.25"] {
	animation-duration: 9.25s;
}

body[data-m-delay="9.25"] [data-m],
[data-m][data-m][data-m-delay="9.25"] {
	animation-delay: 9.25s;
}

body[data-m-duration="45.75"] [data-m],
[data-m][data-m][data-m-duration="9.35"] {
	animation-duration: 9.35s;
}

body[data-m-delay="9.35"] [data-m],
[data-m][data-m][data-m-delay="9.35"] {
	animation-delay: 9.35s;
}

body[data-m-duration="46.25"] [data-m],
[data-m][data-m][data-m-duration="9.45"] {
	animation-duration: 9.45s;
}

body[data-m-delay="9.45"] [data-m],
[data-m][data-m][data-m-delay="9.45"] {
	animation-delay: 9.45s;
}

body[data-m-duration="46.75"] [data-m],
[data-m][data-m][data-m-duration="9.55"] {
	animation-duration: 9.55s;
}

body[data-m-delay="9.55"] [data-m],
[data-m][data-m][data-m-delay="9.55"] {
	animation-delay: 9.55s;
}

body[data-m-duration="47.25"] [data-m],
[data-m][data-m][data-m-duration="9.65"] {
	animation-duration: 9.65s;
}

body[data-m-delay="9.65"] [data-m],
[data-m][data-m][data-m-delay="9.65"] {
	animation-delay: 9.65s;
}

body[data-m-duration="47.75"] [data-m],
[data-m][data-m][data-m-duration="9.75"] {
	animation-duration: 9.75s;
}

body[data-m-delay="9.75"] [data-m],
[data-m][data-m][data-m-delay="9.75"] {
	animation-delay: 9.75s;
}

body[data-m-duration="48.25"] [data-m],
[data-m][data-m][data-m-duration="9.85"] {
	animation-duration: 9.85s;
}

body[data-m-delay="9.85"] [data-m],
[data-m][data-m][data-m-delay="9.85"] {
	animation-delay: 9.85s;
}

body[data-m-duration="48.75"] [data-m],
[data-m][data-m][data-m-duration="9.95"] {
	animation-duration: 9.95s;
}

body[data-m-delay="9.95"] [data-m],
[data-m][data-m][data-m-delay="9.95"] {
	animation-delay: 9.95s;
}

body[data-m-duration="49.25"] [data-m],
[data-m][data-m][data-m-duration="10.05"] {
	animation-duration: 10.05s;
}

body[data-m-delay="10.05"] [data-m],
[data-m][data-m][data-m-delay="10.05"] {
	animation-delay: 10.05s;
}

body[data-m-duration="49.75"] [data-m],
[data-m][data-m][data-m-duration="10.15"] {
	animation-duration: 10.15s;
}

body[data-m-delay="10.15"] [data-m],
[data-m][data-m][data-m-delay="10.15"] {
	animation-delay: 10.15s;
}

body[data-m-duration="50.25"] [data-m],
[data-m][data-m][data-m-duration="10.25"] {
	animation-duration: 10.25s;
}

body[data-m-delay="10.25"] [data-m],
[data-m][data-m][data-m-delay="10.25"] {
	animation-delay: 10.25s;
}

/*# sourceMappingURL=movement.css.map */